@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* { margin:0; 
padding:0;
box-sizing:border-box;
}
li { list-style:none;}
a { text-decoration: none;
color:#111;
}
body { font-family:'Noto Sans KR', Arial, Helvetica, sans-serif;}
.mobile { display: none;}
.pc { display: block;}
img { max-width: 100%;}


header { position:absolute;
top:0;
left:0;
width:100%;
min-height:80px; 
height:4.2vw;
background:#00000010;
border-bottom:1px solid #ebebeb36;
z-index:100;
}
.header_in { margin:0 auto;
        max-width:1920px;
        height:100%;
}
header h1 {height:100%;
        width:10vw;
        margin-left:5vw;
} 
header h1 a { display: block; 
        width:100%;
        height:100%; 
        background:url("../img/toplogo_w.png") no-repeat center center /contain;
        text-indent: -9999px;
}


.gnb_wrap {position:absolute;
        top:0; 
        left:0;
        width:100%;
        height:100%;
        display: flex;
        justify-content:flex-end; 
}

.gnb_list_w {}
.gnb_list { display:table;
        height:100%;
}
.gnb_list > li { position:relative;
                display: table-cell;
                vertical-align: middle;
                padding:0 2.5vw;
                cursor:pointer;
}
.gnb_list > li:after { display: block;
                content:"";
                width:9px;
                height:9px;
                background:#00a0c6;
                border-radius: 50%;
                position: absolute;
                top:72px;
                left:50%;
                margin-left:-4.5px;
                transition:.3s;
                opacity: 0;
}
.mainitem { color:#fff;}


.subitem_w { display: none;
        position:absolute;
        top:100%;
        left:0;
        background:#fff;
        width:calc(100% + 30px);
        text-align:center;
        margin-left:-15px;
        box-shadow:10px 20px 30px rgb(0 0 0/20%);
}
.subitem_list { padding:20px 0; }
.subitem_list li { margin-bottom:10px;}
.subitem { font-size:15px; }
.subitem:hover { color:#00a0c6;}

.gnb_list > li:hover .subitem_w { display: block;}
.gnb_list > li:hover:after { opacity:1;}

.national_list_w { width:10%;
                height:101%;
                }
.nat_target { display: flex; 
                align-items: center;
                color:#fff;
                width: 100%;
                height:100%;
                font-size:13px;
                padding-left:33.3%;
                background:#334a51;
                }
.nat_target_in { font-family: 'Merriweather', serif; 
        padding-right:25%; 
        background: url(../img/bg_iconat.png) no-repeat 100% 50% / 10px auto;}

.totalmenu_w { width:10%;
                height:101%;}
.btn_total { position:relative;
        display: flex; 
        align-items: center;
        width: 100%;
        height:100%;
        background:#fff;
        padding-left:50%; }
.btn_total_in { font-family: 'Merriweather', serif;
        font-size:16px; }

.btn_total::before, .btn_total::after  {display: block;content:"";
position:absolute;
width:28%;
top:50%;
left:12%;
height: 1px;
background:#111;
}
.btn_total::before {transform:translateY(-5px); }
.btn_total::after { transform:translateY(5px);}


/*   .total_menu   */

.total_menuZ { position:fixed;
                top:0; 
                left:0; 
                width:100%; 
                height:0;
                transition:1s;
                z-index:101;
                overflow: hidden;
                }
.total_menuZ.active { height:100%;}

.total_menuZ_in { position:absolute;
                width:100%; 
                height:100%;
background:#334a51 url("../img/bg_total_logo.png") no-repeat 50% 50% / 576px;
}
.total_menuZ h1 { display: none;}

.total_menu { height:100%;
}
.total_list { display: table;
        position:absolute;
        top:0; left:20%;
        width:60%;
        height:100%;
}

.total_list > li { display: table-cell;
position:absolute;
top:35%;
}
.total_item01 { left:0; }
.total_item02 {  left:30%; }
.total_item03 { right:30%;}
.total_item04 { right:0;}

.totalMainitem { color:#fff; 
font-size:2vw;
transition:.4s;
border-bottom:2px solid #ffffff00;
margin-bottom:10px;
}
.totalMainitem:hover { border-bottom:2px solid #ffffff;}


.totalSubitem_w { padding-top:60px;}
.totalSubitem_list { }
.totalSubitem_list > li{ margin-bottom:15px;}

.totalSubitem { font-size:1.5vw; 
color:#ffffff80; 
letter-spacing: -1px;
}
.totalSubitem:hover { color:#00a0c6;}

.total_item01 { }


.btn_totalClose_w { position:absolute;
                top:0;
                right:0;
                width:10%;
                height:80px;
                height:4.2vw;
                }
.btn_totalClose { position:relative;
                display: flex; 
                align-items: center;
                width: 100%;
                height:100%;
                color:#fff;
                padding-left:50%; 
                }
.btn_totalClose_in { font-family: 'Merriweather', serif;
        font-size:16px;}

.btn_totalClose::before, .btn_totalClose::after  {display: block;content:"";
position:absolute;
width:32px;
top:50%;
left:12%;
height: 1px;
background:#fff;
}
.btn_totalClose::before {transform:rotate(-45deg); }
.btn_totalClose::after { transform:rotate(45deg);}

.total_address_w { position:absolute;
                left:50%;
                bottom:50px;
                transform:translate(-50%);
                width:60%;
                color:rgba(255, 255, 255, 30%);
                }
.total_address_w > h2 {font-size:18px;
                        font-weight:500;
                        margin-bottom:20px;
                        }
.total_address_list { display: flex;}
.total_address_list > li { flex: 1;
                        font-size:14px;
                        line-height:1.6;
                        }







main { }
section { background-size:cover;
        background-position:center center;
        }

/*       fullpage       */

section#s1 { position:relative;}

.video_w {  }
#myVideo {position:absolute; 
        top:0;
        left:0;
        right:0;
        bottom:0;
        width:100%;
        height: 100%;
        object-fit: cover;
        object-position:20% center;
}

.s1_w { position: relative;
        z-index: 5;
        margin:0 13vw;
        color:#fff;
        }
.s1_in { }
.s1_main { font-size:3vw;
        font-family: 'Merriweather', serif; 
        font-weight:bold;
        line-height:1.25;
        transition:1200ms;
        }
.s1_main span { font-size:5vw;
                display: block;
                }
.s1_sub { font-size:1.5vw;
        margin-top:40px;
        transition-duration:1200ms;
        transition-delay: 700ms;
        }
.scroll_guide { position:absolute;
                bottom:100px;
                right:10px;
                color:#fff;
                font-size:14px;
                font-family: 'Merriweather', serif;
                z-index: 5;
                transform:rotate(-90deg);
                }

.scroll_guide:before { display: block;
                        content:"";
                        width:7px;
                        height:7px;
                        border-bottom:1px solid #fff;
                        border-left:1px solid #fff;
                        position:absolute;
                        top:6px;
                        left:-20px;
                        transform:rotate(45deg);
                        }


#s2 { position: relative;
    background:#ebe7e4;
    }
.s2_bg { position:absolute;
        top:0;
        right:0;
        bottom:0;
        width:30%; 
        background:#95aaa3;
        }

.s2_w { position:relative;
        margin:130px 13vw;
        z-index: 5;
        }

.s2_title { width:calc(170px + 7vw);
            transition-duration:1000ms;
            }
.s2_title_sub { font-size:calc(10px + 1.5vw);
                font-weight: 700;
                color:#334a51;
                margin-top: 20px;
                transition-duration:1000ms;
                transition-delay:300ms;
                }

.s2_img { position:absolute;
        top:0;
        right:7%;
        width:35%;
        height:100%;
        transition-duration:1000ms;
        transition-delay:700ms;
        display: flex;
        justify-content:center;
        align-items: center;
        }

.s2_cont { margin-top:70px;
            transition-duration:1000ms;
            transition-delay:700ms;
            position:relative;
            z-index: 6;
            }
            
.s2_item_title {font-size:19px;
                font-weight: 500;
                color:#334a51;
                }   
.s2_item_cont { font-size: 15px;
                line-height:1.6;
                margin-top:33px;
                }

.s2_list { display: table;}
.s2_list > li { display: table-cell;
                }
.s2_item {  margin-right: 70px }
.s2_item::before { display: block;
                content:"";
                width:90px;
                height:90px;
                background:url('../img/mc_eff_m.png') no-repeat 0 0/cover;
                }

.s2_item01::before { background-position: 0 6px;}
.s2_item02::before { background-position: 0 -90px;}
.s2_item03::before { background-position: 0 -183px;}
.s2_item04::before { background-position: -10px -270px;}

.s2_item_spec { margin-top:20px;}

.s2_more_w { margin-top:50px;}
.s2_more { position: relative; 
            display: inline-block;
            height:54px;
            padding-right:64px;
            font-size:14px;
            line-height:54px;
            font-family: 'Merriweather' , serif;
            color:#334a51;
            }
.s2_more::after{ display: block;
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:54px;
    height:54px;
    border-radius: 50%;;
    background:#d5d5d5 url('../img/linkgo_allow.png') no-repeat 50% 50%;
}


#s3 { background:url('../img/mc_geda_bg_pc.png') no-repeat 50% 50%/cover;}
.s3_w { margin:0 13vw;
        color:#fff;}
.s3_title { font-size:calc(10px + 1.5vw);
        font-weight: 500;
        transition-duration: 1200ms;
        transition-delay: 500ms;
        }
.s3_main { font-size:5vw; 
        font-family: 'Merriweather' , serif;
        font-weight: bold;
        line-height:1.2;
        margin-top:30px;
        transition:1200ms;
        }
.s3_desc { margin-top:6vh;}
.s3_cont { margin-bottom:30px;}

.s3_item_cont { font-size:calc(12px + 0.4vw); }
.s3_item_cont.type2{ }
.s3_item_title {font-family: 'Merriweather' , serif;
        font-size:calc(10px + 1vw); 
        margin-bottom:10px;
        }


.s3_btns { margin-top:100px }
.s3_btns a { display: inline-block;
        padding:13px 23px 14px ; 
        border:1px solid #fff;
        border-radius: 100px;
        margin:0 10px 10px 0;
        }
.s3_btns span { position:relative;
                font-size:calc(12px + 0.4vw);
                color:#fff;
                padding-right:45px;
                }

.s3_btns span::before ,.s3_btns span::after 
{display: block; content: ""; 
position:absolute;
top:50%;
right:0px;
}
.s3_btns span::before { width:25px; 
                        height:1px; 
                        background:#fff;
                        }
.s3_btns span::after { width:7px; 
                        height:7px;
                        border-right:1px solid #fff;
                        border-bottom:1px solid #fff;
                        transform:translateY(calc(-50% + 1px)) rotate(-45deg);
                        }

#map { width:100%; height:70vh;}



#arrow { position:fixed;
        bottom:50px;
        right:50px;
        }
.prevS, .nextS { display:block;
                width:40px;
                height:30px;
                margin-bottom:20px;
                text-indent: -9999px;
                position: relative;
                transition:.3s;
                opacity:.4;
                }
.prevS:before , .nextS:after {display: block;
    content:"";
    width:15px;
    height:15px;
    border-top:2px solid #fff;
    border-left:2px solid #fff;
    position:absolute;
    left:10px;
    }
.prevS:hover, .nextS:hover { opacity:1;}

.prevS:before { transform: rotate(45deg); 
                top:10px;}
.nextS:after { transform: rotate(-135deg); 
                bottom:10px;}

.prevS { }
.nextS { }